In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

###  Section A: Read in the regions and countries dataset from Github

#### This section from github is not necessary after the first time I ran it

I explored, edited and saved the fields i needed in 'countries regions.csv' file which is saved in the folder.

Feel free to skip to Section B of this Jupyter notebook below.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv')

In [3]:
df.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [4]:
df.shape

(249, 11)

In [5]:
df2 = df.reindex(columns = ['name', 'region', 'sub-region'])

#### saved the dataframe for some excel editing.

I needed to allocate regional names instead of continents to countries in North America (From Americas), Latin america (Americas) and middle east (Asia).

In [10]:
#df2.to_csv('countries regions1.csv',index=False)

### Section B: Continuing with our SO dataset
#### Did some editing on excel and re-read the file again

In [6]:
df3 = pd.read_csv('countries regions.csv')

In [7]:
df3.head()

,name,region,sub-region,Unnamed: 3
0,Australia,Oceania,Australia and New Zealand,NaN
1,Christmas Island,Oceania,Australia and New Zealand,NaN
2,Cocos (Keeling) Islands,Oceania,Australia and New Zealand,NaN
3,Heard Island and McDonald Islands,Oceania,Australia and New Zealand,NaN
4,New Zealand,Oceania,Australia and New Zealand,NaN

In [8]:
df3 = df3.reindex(columns = ['name', 'region'])

In [10]:
df3.head()

                                name   region
0                          Australia  Oceania
1                   Christmas Island  Oceania
2            Cocos (Keeling) Islands  Oceania
3  Heard Island and McDonald Islands  Oceania
4                        New Zealand  Oceania

In [9]:
df3.set_index('name').to_dict()

{'region': {'Australia': 'Oceania',
  'Christmas Island': 'Oceania',
  'Cocos (Keeling) Islands': 'Oceania',
  'Heard Island and McDonald Islands': 'Oceania',
  'New Zealand': 'Oceania',
  'Norfolk Island': 'Oceania',
  'Kazakhstan': 'Asia',
  'Kyrgyzstan': 'Asia',
  'Tajikistan': 'Asia',
  'Turkmenistan': 'Asia',
  'Uzbekistan': 'Asia',
  'China': 'Asia',
  'Hong Kong': 'Asia',
  'Japan': 'Asia',
  "Korea (Democratic People's Republic of)": 'Asia',
  'Korea, Republic of': 'Asia',
  'Macao': 'Asia',
  'Mongolia': 'Asia',
  'Taiwan, Province of China': 'Asia',
  'Belarus': 'Europe',
  'Bulgaria': 'Europe',
  'Czechia': 'Europe',
  'Hungary': 'Europe',
  'Moldova, Republic of': 'Europe',
  'Poland': 'Europe',
  'Romania': 'Europe',
  'Russian Federation': 'Europe',
  'Slovakia': 'Europe',
  'Ukraine': 'Europe',
  'Bolivia (Plurinational State of)': 'South and Central America and the Caribbean',
  'Bonaire, Sint Eustatius and Saba': 'South and Central America and the Caribbean',
  'Bouvet Island': 'South and Central America and the Caribbean',
  'Brazil': 'South and Central America and the Caribbean',
  'Cayman Islands': 'South and Central America and the Caribbean',
  'Chile': 'South and Central America and the Caribbean',
  'Colombia': 'South and Central America and the Caribbean',
  'Costa Rica': 'South and Central America and the Caribbean',
  'Cuba': 'South and Central America and the Caribbean',
  'Curaçao': 'South and Central America and the Caribbean',
  'Dominica': 'South and Central America and the Caribbean',
  'Dominican Republic': 'South and Central America and the Caribbean',
  'Ecuador': 'South and Central America and the Caribbean',
  'El Salvador': 'South and Central America and the Caribbean',
  'Falkland Islands (Malvinas)': 'South and Central America and the Caribbean',
  'French Guiana': 'South and Central America and the Caribbean',
  'Grenada': 'South and Central America and the Caribbean',
  'Guadeloupe': 'South and Central America and the Caribbean',
  'Guatemala': 'South and Central America and the Caribbean',
  'Guyana': 'South and Central America and the Caribbean',
  'Haiti': 'South and Central America and the Caribbean',
  'Honduras': 'South and Central America and the Caribbean',
  'Jamaica': 'South and Central America and the Caribbean',
  'Martinique': 'South and Central America and the Caribbean',
  'Mexico': 'South and Central America and the Caribbean',
  'Montserrat': 'South and Central America and the Caribbean',
  'Nicaragua': 'South and Central America and the Caribbean',
  'Panama': 'South and Central America and the Caribbean',
  'Paraguay': 'South and Central America and the Caribbean',
  'Peru': 'South and Central America and the Caribbean',
  'Puerto Rico': 'South and Central America and the Caribbean',
  'Saint Barthélemy': 'South and Central America and the Caribbean',
  'Saint Kitts and Nevis': 'South and Central America and the Caribbean',
  'Saint Lucia': 'South and Central America and the Caribbean',
  'Saint Martin (French part)': 'South and Central America and the Caribbean',
  'Saint Vincent and the Grenadines': 'South and Central America and the Caribbean',
  'Sint Maarten (Dutch part)': 'South and Central America and the Caribbean',
  'South Georgia and the South Sandwich Islands': 'South and Central America and the Caribbean',
  'Suriname': 'South and Central America and the Caribbean',
  'Trinidad and Tobago': 'South and Central America and the Caribbean',
  'Turks and Caicos Islands': 'South and Central America and the Caribbean',
  'Uruguay': 'South and Central America and the Caribbean',
  'Venezuela (Bolivarian Republic of)': 'South and Central America and the Caribbean',
  'Virgin Islands (British)': 'South and Central America and the Caribbean',
  'Virgin Islands (U.S.)': 'South and Central America and the Caribbean',
  'Fiji': 'Oceania',
  'New Caledonia': 'Oceania',
  'Papua New Guinea': 'Oceania',
  'Solomon Islands': 'Oceania',
  'Vanuatu': 'Oceania',
  'Guam': 'Oceania',
  'Kiribati': 'Oceania',
  'Marshall Islands': 'Oceania',
  'Micronesia (Federated States of)': 'Oceania',
  'Nauru': 'Oceania',
  'Northern Mariana Islands': 'Oceania',
  'Palau': 'Oceania',
  'United States Minor Outlying Islands': 'Oceania',
  'Algeria': 'Africa',
  'Egypt': 'Africa',
  'Libya': 'Africa',
  'Morocco': 'Africa',
  'Sudan': 'Africa',
  'Tunisia': 'Africa',
  'Western Sahara': 'Africa',
  'Bermuda': 'Northern America',
  'Canada': 'Northern America',
  'Greenland': 'Northern America',
  'Saint Pierre and Miquelon': 'Northern America',
  'United States of America': 'Northern America',
  'Åland Islands': 'Europe',
  'Denmark': 'Europe',
  'Estonia': 'Europe',
  'Faroe Islands': 'Europe',
  'Finland': 'Europe',
  'Guernsey': 'Europe',
  'Iceland': 'Europe',
  'Ireland': 'Europe',
  'Isle of Man': 'Europe',
  'Jersey': 'Europe',
  'Latvia': 'Europe',
  'Lithuania': 'Europe',
  'Norway': 'Europe',
  'Svalbard and Jan Mayen': 'Europe',
  'Sweden': 'Europe',
  'United Kingdom of Great Britain and Northern Ireland': 'Europe',
  'American Samoa': 'Oceania',
  'Cook Islands': 'Oceania',
  'French Polynesia': 'Oceania',
  'Niue': 'Oceania',
  'Pitcairn': 'Oceania',
  'Samoa': 'Oceania',
  'Tokelau': 'Oceania',
  'Tonga': 'Oceania',
  'Tuvalu': 'Oceania',
  'Wallis and Futuna': 'Oceania',
  'Brunei Darussalam': 'Asia',
  'Cambodia': 'Asia',
  'Indonesia': 'Asia',
  "Lao People's Democratic Republic": 'Asia',
  'Malaysia': 'Asia',
  'Myanmar': 'Asia',
  'Philippines': 'Asia',
  'Singapore': 'Asia',
  'Thailand': 'Asia',
  'Timor-Leste': 'Asia',
  'Viet Nam': 'Asia',
  'Afghanistan': 'Asia',
  'Bangladesh': 'Asia',
  'Bhutan': 'Asia',
  'India': 'Asia',
  'Iran (Islamic Republic of)': 'Middle East',
  'Maldives': 'Asia',
  'Nepal': 'Asia',
  'Pakistan': 'Asia',
  'Sri Lanka': 'Asia',
  'Albania': 'Europe',
  'Andorra': 'Europe',
  'Bosnia and Herzegovina': 'Europe',
  'Croatia': 'Europe',
  'Gibraltar': 'Europe',
  'Greece': 'Europe',
  'Holy See': 'Europe',
  'Italy': 'Europe',
  'Malta': 'Europe',
  'Montenegro': 'Europe',
  'North Macedonia': 'Europe',
  'Portugal': 'Europe',
  'San Marino': 'Europe',
  'Serbia': 'Europe',
  'Slovenia': 'Europe',
  'Spain': 'Europe',
  'Angola': 'Africa',
  'Benin': 'Africa',
  'Botswana': 'Africa',
  'British Indian Ocean Territory': 'Africa',
  'Burkina Faso': 'Africa',
  'Burundi': 'Africa',
  'Cabo Verde': 'Africa',
  'Cameroon': 'Africa',
  'Central African Republic': 'Africa',
  'Chad': 'Africa',
  'Comoros': 'Africa',
  'Congo': 'Africa',
  'Congo, Democratic Republic of the': 'Africa',
  "Côte d'Ivoire": 'Africa',
  'Djibouti': 'Africa',
  'Equatorial Guinea': 'Africa',
  'Eritrea': 'Africa',
  'Eswatini': 'Africa',
  'Ethiopia': 'Africa',
  'French Southern Territories': 'Africa',
  'Gabon': 'Africa',
  'Gambia': 'Africa',
  'Ghana': 'Africa',
  'Guinea': 'Africa',
  'Guinea-Bissau': 'Africa',
  'Kenya': 'Africa',
  'Lesotho': 'Africa',
  'Liberia': 'Africa',
  'Madagascar': 'Africa',
  'Malawi': 'Africa',
  'Mali': 'Africa',
  'Mauritania': 'Africa',
  'Mauritius': 'Africa',
  'Mayotte': 'Africa',
  'Mozambique': 'Africa',
  'Namibia': 'Africa',
  'Niger': 'Africa',
  'Nigeria': 'Africa',
  'Réunion': 'Africa',
  'Rwanda': 'Africa',
  'Saint Helena, Ascension and Tristan da Cunha': 'Africa',
  'Sao Tome and Principe': 'Africa',
  'Senegal': 'Africa',
  'Seychelles': 'Africa',
  'Sierra Leone': 'Africa',
  'Somalia': 'Africa',
  'South Africa': 'Africa',
  'South Sudan': 'Africa',
  'Tanzania, United Republic of': 'Africa',
  'Togo': 'Africa',
  'Uganda': 'Africa',
  'Zambia': 'Africa',
  'Zimbabwe': 'Africa',
  'Armenia': 'Asia',
  'Azerbaijan': 'Asia',
  'Bahrain': 'Middle East',
  'Cyprus': 'Asia',
  'Georgia': 'Asia',
  'Iraq': 'Middle East',
  'Israel': 'Middle East',
  'Jordan': 'Middle East',
  'Kuwait': 'Middle East',
  'Lebanon': 'Middle East',
  'Oman': 'Middle East',
  'Palestine, State of': 'Middle East',
  'Qatar': 'Middle East',
  'Saudi Arabia': 'Middle East',
  'Syrian Arab Republic': 'Middle East',
  'Turkey': 'Asia',
  'United Arab Emirates': 'Middle East',
  'Yemen': 'Middle East',
  'Austria': 'Europe',
  'Belgium': 'Europe',
  'France': 'Europe',
  'Germany': 'Europe',
  'Liechtenstein': 'Europe',
  'Luxembourg': 'Europe',
  'Monaco': 'Europe',
  'Netherlands': 'Europe',
  'Switzerland': 'Europe',
  'Anguilla': 'South and Central America and the Caribbean',
  'Antigua and Barbuda': 'South and Central America and the Caribbean',
  'Argentina': 'South and Central America and the Caribbean',
  'Aruba': 'South and Central America and the Caribbean',
  'Bahamas': 'South and Central America and the Caribbean',
  'Barbados': 'South and Central America and the Caribbean',
  'Belize': 'South and Central America and the Caribbean',
  'Antarctica': nan}}

#### These countries were spelled differently in our SO dataset. Add them to this regions dataframe

In [12]:
dict_to_add = {'United States' : 'Northern America',
 'United Kingdom' : 'Europe',
 'Czech Republic' : 'Europe',
 'Taiwan' : 'Asia',
 'Iran' : 'Middle East', 
 'Venezuela, Bolivarian Republic of...' : 'South and Central America and the Caribbean', 
 'Hong Kong (S.A.R.)' : 'Asia', 
 'Bolivia': 'South and Central America and the Caribbean', 
 'Republic of Korea' : 'Asia',
 'South Korea': 'Asia', 
 'The former Yugoslav Republic of Macedonia' : 'Europe',
'United Republic of Tanzania' : 'Africa', 
 'Republic of Moldova' : 'Europe', 
 'Kosovo' : 'Europe',
'Democratic Republic of the Congo': 'Africa', 
 'Congo, Republic of the...': 'Africa',
'Swaziland' : 'Africa', 
 'Libyan Arab Jamahiriya': 'Africa', 
 'Cape Verde' : 'Africa'}

In [13]:
dict_to_add

{'United States': 'Northern America',
 'United Kingdom': 'Europe',
 'Czech Republic': 'Europe',
 'Taiwan': 'Asia',
 'Iran': 'Middle East',
 'Venezuela, Bolivarian Republic of...': 'South and Central America and the Caribbean',
 'Hong Kong (S.A.R.)': 'Asia',
 'Bolivia': 'South and Central America and the Caribbean',
 'Republic of Korea': 'Asia',
 'South Korea': 'Asia',
 'The former Yugoslav Republic of Macedonia': 'Europe',
 'United Republic of Tanzania': 'Africa',
 'Republic of Moldova': 'Europe',
 'Kosovo': 'Europe',
 'Democratic Republic of the Congo': 'Africa',
 'Congo, Republic of the...': 'Africa',
 'Swaziland': 'Africa',
 'Libyan Arab Jamahiriya': 'Africa',
 'Cape Verde': 'Africa'}

In [14]:
df_to_add = pd.DataFrame.from_dict(dict_to_add, orient='index') #Convert the dict into a datafrae
df_to_add = df_to_add.reset_index() #reset the index to numbers so its compartible with df3
df_to_add.columns = ['name', 'region'] #change the column names to those of df3

#### merge the 2 dataftrames

In [15]:
df_complete = pd.concat([df3, df_to_add])

In [16]:
df_complete.to_csv('countries regions2.csv',index=False)

## Back to our SO dataset from part 2

In [17]:
data = pd.read_csv('SO_age_part2.csv')

In [18]:
data.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,YearsCode,YearsCodePro,years_to_pro,age_serious_code,total_types,...,Academic researcher,Data scientist or machine learning specialist,Scientist,Senior executive/VP,"Engineer, site reliability",Marketing or sales professional,began_dev_agegroup,ConvertedComp,JobSat,NEWLearn
0,4,I am a developer by profession,Yes,25.0,18,7.0,4.0,3.0,18.0,0,...,0,0,0,0,0,0,below 20 years,NaN,Slightly dissatisfied,Once a year
1,5,"I used to be a developer by profession, but no...",Yes,31.0,16,15.0,8.0,7.0,16.0,0,...,0,0,0,0,0,0,below 20 years,NaN,NaN,Once a year
2,8,I am a developer by profession,Yes,36.0,12,17.0,13.0,4.0,19.0,3,...,0,0,0,0,0,0,below 20 years,116000.0,Slightly dissatisfied,Once a year
3,9,I am a developer by profession,No,30.0,20,6.0,4.0,2.0,24.0,1,...,0,0,0,0,0,0,In my Twenties,NaN,Very dissatisfied,Once a year
4,10,I am a developer by profession,Yes,22.0,14,8.0,4.0,4.0,14.0,3,...,0,0,0,0,0,0,below 20 years,32315.0,Very satisfied,Every few months

In [19]:
data.shape

(44823, 45)

In [25]:
regions = pd.read_csv('countries regions2.csv')

In [26]:
regions.head()

                                name   region
0                          Australia  Oceania
1                   Christmas Island  Oceania
2            Cocos (Keeling) Islands  Oceania
3  Heard Island and McDonald Islands  Oceania
4                        New Zealand  Oceania

### Convert the regions dataframe into a dictionary

This will will be used to map countries to their regions/continent

In [27]:
regions = regions.set_index('name')

In [28]:
regions.head(2)

                   region
name
Australia         Oceania
Christmas Island  Oceania

In [29]:
#The dictionary
list(regions.to_dict().values())[0]

{'Australia': 'Oceania',
 'Christmas Island': 'Oceania',
 'Cocos (Keeling) Islands': 'Oceania',
 'Heard Island and McDonald Islands': 'Oceania',
 'New Zealand': 'Oceania',
 'Norfolk Island': 'Oceania',
 'Kazakhstan': 'Asia',
 'Kyrgyzstan': 'Asia',
 'Tajikistan': 'Asia',
 'Turkmenistan': 'Asia',
 'Uzbekistan': 'Asia',
 'China': 'Asia',
 'Hong Kong': 'Asia',
 'Japan': 'Asia',
 "Korea (Democratic People's Republic of)": 'Asia',
 'Korea, Republic of': 'Asia',
 'Macao': 'Asia',
 'Mongolia': 'Asia',
 'Taiwan, Province of China': 'Asia',
 'Belarus': 'Europe',
 'Bulgaria': 'Europe',
 'Czechia': 'Europe',
 'Hungary': 'Europe',
 'Moldova, Republic of': 'Europe',
 'Poland': 'Europe',
 'Romania': 'Europe',
 'Russian Federation': 'Europe',
 'Slovakia': 'Europe',
 'Ukraine': 'Europe',
 'Bolivia (Plurinational State of)': 'South and Central America and the Caribbean',
 'Bonaire, Sint Eustatius and Saba': 'South and Central America and the Caribbean',
 'Bouvet Island': 'South and Central America and the Caribbean',
 'Brazil': 'South and Central America and the Caribbean',
 'Cayman Islands': 'South and Central America and the Caribbean',
 'Chile': 'South and Central America and the Caribbean',
 'Colombia': 'South and Central America and the Caribbean',
 'Costa Rica': 'South and Central America and the Caribbean',
 'Cuba': 'South and Central America and the Caribbean',
 'Curaçao': 'South and Central America and the Caribbean',
 'Dominica': 'South and Central America and the Caribbean',
 'Dominican Republic': 'South and Central America and the Caribbean',
 'Ecuador': 'South and Central America and the Caribbean',
 'El Salvador': 'South and Central America and the Caribbean',
 'Falkland Islands (Malvinas)': 'South and Central America and the Caribbean',
 'French Guiana': 'South and Central America and the Caribbean',
 'Grenada': 'South and Central America and the Caribbean',
 'Guadeloupe': 'South and Central America and the Caribbean',
 'Guatemala': 'South and Central America and the Caribbean',
 'Guyana': 'South and Central America and the Caribbean',
 'Haiti': 'South and Central America and the Caribbean',
 'Honduras': 'South and Central America and the Caribbean',
 'Jamaica': 'South and Central America and the Caribbean',
 'Martinique': 'South and Central America and the Caribbean',
 'Mexico': 'South and Central America and the Caribbean',
 'Montserrat': 'South and Central America and the Caribbean',
 'Nicaragua': 'South and Central America and the Caribbean',
 'Panama': 'South and Central America and the Caribbean',
 'Paraguay': 'South and Central America and the Caribbean',
 'Peru': 'South and Central America and the Caribbean',
 'Puerto Rico': 'South and Central America and the Caribbean',
 'Saint Barthélemy': 'South and Central America and the Caribbean',
 'Saint Kitts and Nevis': 'South and Central America and the Caribbean',
 'Saint Lucia': 'South and Central America and the Caribbean',
 'Saint Martin (French part)': 'South and Central America and the Caribbean',
 'Saint Vincent and the Grenadines': 'South and Central America and the Caribbean',
 'Sint Maarten (Dutch part)': 'South and Central America and the Caribbean',
 'South Georgia and the South Sandwich Islands': 'South and Central America and the Caribbean',
 'Suriname': 'South and Central America and the Caribbean',
 'Trinidad and Tobago': 'South and Central America and the Caribbean',
 'Turks and Caicos Islands': 'South and Central America and the Caribbean',
 'Uruguay': 'South and Central America and the Caribbean',
 'Venezuela (Bolivarian Republic of)': 'South and Central America and the Caribbean',
 'Virgin Islands (British)': 'South and Central America and the Caribbean',
 'Virgin Islands (U.S.)': 'South and Central America and the Caribbean',
 'Fiji': 'Oceania',
 'New Caledonia': 'Oceania',
 'Papua New Guinea': 'Oceania',
 'Solomon Islands': 'Oceania',
 'Vanuatu': 'Oceania',
 'Guam': 'Oceania',
 'Kiribati': 'Oceania',
 'Marshall Islands': 'Oceania',
 'Micronesia (Federated States of)': 'Oceania',
 'Nauru': 'Oceania',
 'Northern Mariana Islands': 'Oceania',
 'Palau': 'Oceania',
 'United States Minor Outlying Islands': 'Oceania',
 'Algeria': 'Africa',
 'Egypt': 'Africa',
 'Libya': 'Africa',
 'Morocco': 'Africa',
 'Sudan': 'Africa',
 'Tunisia': 'Africa',
 'Western Sahara': 'Africa',
 'Bermuda': 'Northern America',
 'Canada': 'Northern America',
 'Greenland': 'Northern America',
 'Saint Pierre and Miquelon': 'Northern America',
 'United States of America': 'Northern America',
 'Åland Islands': 'Europe',
 'Denmark': 'Europe',
 'Estonia': 'Europe',
 'Faroe Islands': 'Europe',
 'Finland': 'Europe',
 'Guernsey': 'Europe',
 'Iceland': 'Europe',
 'Ireland': 'Europe',
 'Isle of Man': 'Europe',
 'Jersey': 'Europe',
 'Latvia': 'Europe',
 'Lithuania': 'Europe',
 'Norway': 'Europe',
 'Svalbard and Jan Mayen': 'Europe',
 'Sweden': 'Europe',
 'United Kingdom of Great Britain and Northern Ireland': 'Europe',
 'American Samoa': 'Oceania',
 'Cook Islands': 'Oceania',
 'French Polynesia': 'Oceania',
 'Niue': 'Oceania',
 'Pitcairn': 'Oceania',
 'Samoa': 'Oceania',
 'Tokelau': 'Oceania',
 'Tonga': 'Oceania',
 'Tuvalu': 'Oceania',
 'Wallis and Futuna': 'Oceania',
 'Brunei Darussalam': 'Asia',
 'Cambodia': 'Asia',
 'Indonesia': 'Asia',
 "Lao People's Democratic Republic": 'Asia',
 'Malaysia': 'Asia',
 'Myanmar': 'Asia',
 'Philippines': 'Asia',
 'Singapore': 'Asia',
 'Thailand': 'Asia',
 'Timor-Leste': 'Asia',
 'Viet Nam': 'Asia',
 'Afghanistan': 'Asia',
 'Bangladesh': 'Asia',
 'Bhutan': 'Asia',
 'India': 'Asia',
 'Iran (Islamic Republic of)': 'Middle East',
 'Maldives': 'Asia',
 'Nepal': 'Asia',
 'Pakistan': 'Asia',
 'Sri Lanka': 'Asia',
 'Albania': 'Europe',
 'Andorra': 'Europe',
 'Bosnia and Herzegovina': 'Europe',
 'Croatia': 'Europe',
 'Gibraltar': 'Europe',
 'Greece': 'Europe',
 'Holy See': 'Europe',
 'Italy': 'Europe',
 'Malta': 'Europe',
 'Montenegro': 'Europe',
 'North Macedonia': 'Europe',
 'Portugal': 'Europe',
 'San Marino': 'Europe',
 'Serbia': 'Europe',
 'Slovenia': 'Europe',
 'Spain': 'Europe',
 'Angola': 'Africa',
 'Benin': 'Africa',
 'Botswana': 'Africa',
 'British Indian Ocean Territory': 'Africa',
 'Burkina Faso': 'Africa',
 'Burundi': 'Africa',
 'Cabo Verde': 'Africa',
 'Cameroon': 'Africa',
 'Central African Republic': 'Africa',
 'Chad': 'Africa',
 'Comoros': 'Africa',
 'Congo': 'Africa',
 'Congo, Democratic Republic of the': 'Africa',
 "Côte d'Ivoire": 'Africa',
 'Djibouti': 'Africa',
 'Equatorial Guinea': 'Africa',
 'Eritrea': 'Africa',
 'Eswatini': 'Africa',
 'Ethiopia': 'Africa',
 'French Southern Territories': 'Africa',
 'Gabon': 'Africa',
 'Gambia': 'Africa',
 'Ghana': 'Africa',
 'Guinea': 'Africa',
 'Guinea-Bissau': 'Africa',
 'Kenya': 'Africa',
 'Lesotho': 'Africa',
 'Liberia': 'Africa',
 'Madagascar': 'Africa',
 'Malawi': 'Africa',
 'Mali': 'Africa',
 'Mauritania': 'Africa',
 'Mauritius': 'Africa',
 'Mayotte': 'Africa',
 'Mozambique': 'Africa',
 'Namibia': 'Africa',
 'Niger': 'Africa',
 'Nigeria': 'Africa',
 'Réunion': 'Africa',
 'Rwanda': 'Africa',
 'Saint Helena, Ascension and Tristan da Cunha': 'Africa',
 'Sao Tome and Principe': 'Africa',
 'Senegal': 'Africa',
 'Seychelles': 'Africa',
 'Sierra Leone': 'Africa',
 'Somalia': 'Africa',
 'South Africa': 'Africa',
 'South Sudan': 'Africa',
 'Tanzania, United Republic of': 'Africa',
 'Togo': 'Africa',
 'Uganda': 'Africa',
 'Zambia': 'Africa',
 'Zimbabwe': 'Africa',
 'Armenia': 'Asia',
 'Azerbaijan': 'Asia',
 'Bahrain': 'Middle East',
 'Cyprus': 'Asia',
 'Georgia': 'Asia',
 'Iraq': 'Middle East',
 'Israel': 'Middle East',
 'Jordan': 'Middle East',
 'Kuwait': 'Middle East',
 'Lebanon': 'Middle East',
 'Oman': 'Middle East',
 'Palestine, State of': 'Middle East',
 'Qatar': 'Middle East',
 'Saudi Arabia': 'Middle East',
 'Syrian Arab Republic': 'Middle East',
 'Turkey': 'Asia',
 'United Arab Emirates': 'Middle East',
 'Yemen': 'Middle East',
 'Austria': 'Europe',
 'Belgium': 'Europe',
 'France': 'Europe',
 'Germany': 'Europe',
 'Liechtenstein': 'Europe',
 'Luxembourg': 'Europe',
 'Monaco': 'Europe',
 'Netherlands': 'Europe',
 'Switzerland': 'Europe',
 'Anguilla': 'South and Central America and the Caribbean',
 'Antigua and Barbuda': 'South and Central America and the Caribbean',
 'Argentina': 'South and Central America and the Caribbean',
 'Aruba': 'South and Central America and the Caribbean',
 'Bahamas': 'South and Central America and the Caribbean',
 'Barbados': 'South and Central America and the Caribbean',
 'Belize': 'South and Central America and the Caribbean',
 'Antarctica': nan,
 'United States': 'Northern America',
 'United Kingdom': 'Europe',
 'Czech Republic': 'Europe',
 'Taiwan': 'Asia',
 'Iran': 'Middle East',
 'Venezuela, Bolivarian Republic of...': 'South and Central America and the Caribbean',
 'Hong Kong (S.A.R.)': 'Asia',
 'Bolivia': 'South and Central America and the Caribbean',
 'Republic of Korea': 'Asia',
 'South Korea': 'Asia',
 'The former Yugoslav Republic of Macedonia': 'Europe',
 'United Republic of Tanzania': 'Africa',
 'Republic of Moldova': 'Europe',
 'Kosovo': 'Europe',
 'Democratic Republic of the Congo': 'Africa',
 'Congo, Republic of the...': 'Africa',
 'Swaziland': 'Africa',
 'Libyan Arab Jamahiriya': 'Africa',
 'Cape Verde': 'Africa'}

### Create new column 'region' by mapping country to its region using the mapping

In [30]:
regional_mapping = list(regions.to_dict().values())[0]

In [31]:
data['region'] = data['Country'].map(regional_mapping)

In [32]:
data[['Country', 'region']]

              Country                                       region
0             Albania                                       Europe
1       United States                             Northern America
2       United States                             Northern America
3             Tunisia                                       Africa
4      United Kingdom                                       Europe
...               ...                                          ...
44818           Spain                                       Europe
44819          Brazil  South and Central America and the Caribbean
44820          Israel                                  Middle East
44821          France                                       Europe
44822          Canada                             Northern America

[44823 rows x 2 columns]

There was only one row where 'region' was null and 'country' was not null. There is no country called Nomadic

In [33]:
data[data.loc[:, 'region'].isnull()][['Country', 'region']]['Country'].unique()

array(['Nomadic'], dtype=object)

In [34]:
data.to_csv('SO_age_with_regions_part3.csv', index=False)